<!DOCTYPE html>
<html class="no-js" lang="en">
{% load static custom_filters %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Laralink">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

</head>
<body>
  <div class="tm_container">
    <div class="tm_invoice_wrap">
      <div class="tm_invoice tm_style1" id="tm_download_section">
        <div class="tm_invoice_in">
          <div class="tm_invoice_head tm_align_center tm_mb20">
            <div class="tm_invoice_left">
              {% if logo_url %}
              <div class="tm_logo"><img src="{{ logo_url }}" alt="Logo"></div>
              {% endif %}
            </div>
            <div class="tm_invoice_right tm_text_right">
              <div class="tm_primary_color tm_f50 tm_text_uppercase">{{ title }}</div>
            </div>
          </div>
          <div class="tm_invoice_info tm_mb20">
            <div class="tm_invoice_seperator tm_gray_bg"></div>
            <div class="tm_invoice_info_list">
              <p class="tm_invoice_number tm_m0">Invoice No: <b class="tm_primary_color">{{ tracking_code }}</b></p>
              <p class="tm_invoice_date tm_m0">Date: <b class="tm_primary_color">{{ invoice_date }}</b></p>
            </div>
          </div>
          <div class="tm_invoice_head tm_mb10">
            <div class="tm_invoice_left">
              <p class="tm_mb2"><b class="tm_primary_color">Invoice To:</b></p>
              <p>
                {{ customer_name }} <br>
                {{ customer_email }} <br />
                {{ customer_phone }}
              </p>
            </div>
            <div class="tm_invoice_right tm_text_right">
              <p class="tm_mb2"><b class="tm_primary_color">Pay To:</b></p>
              <p>
                Your Company Name <br>
                Company Address <br />
              </p>
            </div>
          </div>

          <!-- Items Section -->
          <div class="tm_table tm_style1 tm_mb30">
            <div class="tm_round_border">
              <div class="tm_table_responsive">
                <table>
                  <thead>
                    <tr>
                      <th class="tm_width_3 tm_semi_bold tm_primary_color tm_gray_bg">Item</th>
                      <th class="tm_width_4 tm_semi_bold tm_primary_color tm_gray_bg">Description</th>
                      {% for column in custom_columns %}
                      <th class="tm_width_2 tm_semi_bold tm_primary_color tm_gray_bg">{{ column }}</th>
                      {% endfor %}
                      <th class="tm_width_2 tm_semi_bold tm_primary_color tm_gray_bg">Price</th>
                      <th class="tm_width_1 tm_semi_bold tm_primary_color tm_gray_bg">Qty</th>
                      <th class="tm_width_2 tm_semi_bold tm_primary_color tm_gray_bg tm_text_right">Total</th>

                    </tr>
                  </thead>
                  <tbody>
                    {% for item in items %}
                    <tr>
                      <td class="tm_width_3">{{ forloop.counter }}. </td>
                      <td class="tm_width_4">{{ item.description }}</td>
                      {% for column in custom_columns %}
                      <td class="tm_width_2">{{ item.custom_data|get_item:column }}</td>
                      {% endfor %}
                      <td class="tm_width_2">{{ item.unit_price }} {{ currency  }}</td>
                      <td class="tm_width_1">{{ item.quantity }} {{ item.measurement }}</td>
                      <td class="tm_width_2 tm_text_right">{{ item.total_price }} {{ currency }}</td>

                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <!-- Payment and Totals -->
          <div class="tm_invoice_footer">
            <div class="tm_left_footer">
              <p class="tm_mb2"><b class="tm_primary_color">Payment info:</b></p>
              <p class="tm_m0">{{ status }}</p>
              {% if sign_url %}
                  <img src="{{ sign_url }}" alt="Sign">
                  {% else %}
                  <img src="{% static 'assets/img/default_signature.png' %}" alt="Sign">
              {% endif %}
            </div>
            <div class="tm_right_footer">
              <table>
                <tbody>
                  <tr>
                    <td class="tm_width_3 tm_primary_color tm_border_none tm_bold">Subtotal</td>
                    <td class="tm_width_3 tm_primary_color tm_text_right tm_border_none tm_bold">{{ subtotal }} {{currency}}</td>
                  </tr>
                  <tr>
                    <td class="tm_width_3 tm_primary_color tm_border_none tm_pt0">Tax ({{ tax_percentage }}%)</td>
                    <td class="tm_width_3 tm_primary_color tm_text_right tm_border_none tm_pt0">{{ tax_amount }}</td>
                  </tr>
                  <tr>
                    <td class="tm_width_3 tm_primary_color tm_border_none tm_pt0">Discount ({{ discount_percentage }}%)</td>
                    <td class="tm_width_3 tm_primary_color tm_text_right tm_border_none tm_pt0">-{{ discount_amount }}</td>
                  </tr>
                  <tr>
                    <td class="tm_width_3 tm_primary_color tm_border_none tm_pt0">Concession ({{ concession_percentage }}%)</td>
                    <td class="tm_width_3 tm_primary_color tm_text_right tm_border_none tm_pt0">-{{ concession_amount }}</td>
                  </tr>
                  <tr class="tm_border_top tm_border_bottom">
                    <td class="tm_width_3 tm_border_top_0 tm_bold tm_f16 tm_primary_color">Grand Total</td>
                    <td class="tm_width_3 tm_border_top_0 tm_bold tm_f16 tm_primary_color tm_text_right">{{ grand_total }} {{currency}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          {% for field in additional_fields %}
          <div class="tm_padd_15_20 tm_round_border tm_mb15">
            <div class="tm_note_section">
              <p class="tm_mb5"><b class="tm_primary_color">{{ field.label }}:</b></p>
              <ul class="tm_m0 tm_note_list">
                {% for sentence in field.content|split_by_period %}
                <li>{{ sentence }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
          {% endfor %}


        </div>
      </div>
      <div class="tm_invoice_btns tm_hide_print">
        <a href="javascript:window.print()" class="tm_invoice_btn tm_color1">
          <span class="tm_btn_icon">
            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path d="M384 368h24a40.12 40.12 0 0040-40V168a40.12 40.12 0 00-40-40H104a40.12 40.12 0 00-40 40v160a40.12 40.12 0 0040 40h24" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32"/><rect x="128" y="240" width="256" height="208" rx="24.32" ry="24.32" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32"/><path d="M384 128v-24a40.12 40.12 0 00-40-40H168a40.12 40.12 0 00-40 40v24" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32"/><circle cx="392" cy="184" r="24" fill="currentColor"/></svg>
          </span>
          <span class="tm_btn_text">Print</span>
        </a>
      </div>
    </div>
  </div>
  <script src="{% static 'assets/js/jquery.min.js' %}"></script>
  <script src="{% static 'assets/js/jspdf.min.js' %}"></script>
  <script src="{% static 'assets/js/html2canvas.min.js' %}"></script>
  <script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>
