asgiref==3.8.1 ; python_version >= "3.9" and python_version < "4.0"
bandit[toml]==1.7.10 ; python_version >= "3.9" and python_version < "4.0"
cffi==1.17.1 ; python_version >= "3.9" and python_version < "4.0" and platform_python_implementation != "PyPy"
colorama==0.4.6 ; python_version >= "3.9" and python_version < "4.0" and platform_system == "Windows"
cryptography==43.0.3 ; python_version >= "3.9" and python_version < "4.0"
diff-match-patch==20241021 ; python_version >= "3.9" and python_version < "4.0"
django-filter==24.3 ; python_version >= "3.9" and python_version < "4.0"
django-import-export==4.2.0 ; python_version >= "3.9" and python_version < "4.0"
django-jsonform==2.23.1 ; python_version >= "3.9" and python_version < "4.0"
django-sage-tools==0.3.5 ; python_version >= "3.9" and python_version < "4.0"
django==4.2.16 ; python_version >= "3.9" and python_version < "3.10"
django==5.1.2 ; python_version >= "3.10" and python_version < "4.0"
djangorestframework==3.15.2 ; python_version >= "3.9" and python_version < "4.0"
jinja2==3.1.4 ; python_version >= "3.9" and python_version < "4.0"
markdown-it-py==3.0.0 ; python_version >= "3.9" and python_version < "4.0"
markupsafe==3.0.2 ; python_version >= "3.9" and python_version < "4.0"
mdurl==0.1.2 ; python_version >= "3.9" and python_version < "4.0"
mimesis==11.1.0 ; python_version >= "3.9" and python_version < "4.0"
pbr==6.1.0 ; python_version >= "3.9" and python_version < "4.0"
pillow==10.4.0 ; python_version >= "3.9" and python_version < "4.0"
pycparser==2.22 ; python_version >= "3.9" and python_version < "4.0" and platform_python_implementation != "PyPy"
pygments==2.18.0 ; python_version >= "3.9" and python_version < "4.0"
pyyaml==6.0.2 ; python_version >= "3.9" and python_version < "4.0"
rich==13.9.3 ; python_version >= "3.9" and python_version < "4.0"
sqlparse==0.5.1 ; python_version >= "3.9" and python_version < "4.0"
stevedore==5.3.0 ; python_version >= "3.9" and python_version < "4.0"
tablib==3.7.0 ; python_version >= "3.9" and python_version < "4.0"
tomli==2.0.2 ; python_version < "3.11" and python_version >= "3.9"
typing-extensions==4.12.2 ; python_version >= "3.9" and python_version < "3.11"
tzdata==2024.2 ; python_version >= "3.9" and python_version < "4.0" and sys_platform == "win32"
